.navigationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

.navigationButtons a:hover {
    color: white;
    background-color: red;
}

.navigationActive a {
    color: white;
    background-color: red;
}

.navigationDisabled a {
    color: grey;
    background-color: grey;
}